.panel-heading {
  background-color: #00CDAC;
  color:white;
  font-family: 'Saira', sans-serif;
  font-size: 25px;
}

.left{
  position: absolute;
  right: 0;
}

.left-span {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
}

.left-span:hover {
  cursor: pointer;
}

.underline:hover {
  padding-bottom: 2px;
  border-bottom: white 2px solid;
}

.btn-circle {
  border-radius: 10em;
  width: 90px;
  height: 30px;
  color: #00CDAC;
}


.btn:focus {
  outline: none;
}


#homeButton:hover {
  cursor: pointer;
}

#courseName {
  color: #00CDAC;
  font-family: 'Bitter', serif;
  margin-left: 60px;
  margin-bottom: 0px;
}


.lectures {
  margin-left: 60px;
  text-align: center;
  height: 150px;
  width: 170px;
  margin-top: 20px;
  display: table;
  box-shadow: 0px 0px 15px 5px rgba(131, 131, 129, 0.4);
  margin-right: 70px;
  margin-bottom: 40px;
}

.middle {
  display: table-cell;
  vertical-align:middle;
}

.btn-circle-green {
  background-color: #00CDAC;
  color: white;
  border-radius: 10em;
  width: 90px;
  height: 35px;
}
